# Real Estate Predictor

**bring data in csv form**

In [1]:
import pandas as pd

In [2]:
housing = pd.read_csv("data.csv")

In [3]:
housing.head() #show first five data point

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0,0.469,NaN,78.9,4.9671,2,242,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0,0.458,NaN,45.8,6.0622,3,222,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,5.33,36.2

In [4]:
# housing.shape #tell how many row and column in data set

In [5]:
# housing.info() #show information about data it's data type and non-null values

In [6]:
# housing['CHAS'].value_counts() #quick look of individual variable

In [7]:
# housing.describe() #get count,mean,min,max, 25% value is less than 0.0820 value

**ploting data on histogram**

In [8]:
import matplotlib.pyplot as plt
%matplotlib inline

In [9]:
# housing.hist(bins=50, figsize=(20, 15))

# spliting data between train and test data

In [10]:
import numpy as np
# def split_train_test(data, test_ratio):
#     np.random.seed(42)  #avoid shuffling data change in either of data set
#     shuffled = np.random.permutation(len(data))#shuffle data
#     test_set_size = int(len(data)*test_ratio)#length of data
# #     print(test_set_size)
#     test_indices = shuffled[:test_set_size]#cut test datase
# #     print("test data:",test_indices)
#     train_indices = shuffled[test_set_size:]
# #     print("train data :",train_indices)
#     return data.iloc[train_indices],data.iloc[test_indices]#take out data

due to shuffling when we rerun the program test data set will be visible to model and it will give false result hence we have to set seed to manage this problem.

In [11]:
# train_set,test_set = split_train_test(housing, 0.2)#function call for spliting
# print(f"rows in train set: {len(train_set)}\nrows in test set: {len(test_set)}")

**there is already fuction in sklearn to perform above task**

In [12]:
from sklearn.model_selection import train_test_split
train_set, test_set = train_test_split(housing, test_size=0.2, random_state=42)
print(f"rows in train set: {len(train_set)}\nrows in test set: {len(test_set)}")

rows in train set: 404
rows in test set: 102

i would like to have both 1 and 0 value of any paramter in train set as well as in test set for better operation.

'CHAS' is imortant value and we cannot afford to have only single type of data type in one section only.Match number of zeros and one in a test and train data set. to achieve this we have to perform below task.

In [13]:
from sklearn.model_selection import StratifiedShuffleSplit
split=StratifiedShuffleSplit(n_splits=1, test_size=0.2, random_state=42)
for train_index, test_index in split.split(housing, housing['CHAS']):
    strat_train_set = housing.loc[train_index]
    strat_test_set = housing.loc[test_index]

In [14]:
strat_test_set['CHAS'].value_counts()

0    95
1     7
Name: CHAS, dtype: int64

**here is important task we are perform**
now onward our operation is perform with train dataset only we basically hide test data set from model so underfitting can be avoid.

In [15]:
housing = strat_train_set.copy()
housing.describe()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
count,404.000000,404.000000,404.000000,404.000000,404.000000,400.000000,404.000000,404.000000,404.000000,404.000000,404.000000,404.000000,404.000000,404.000000
mean,3.602814,10.836634,11.344950,0.069307,0.558064,6.279105,69.039851,3.746210,9.735149,412.341584,18.473267,353.392822,12.791609,22.509406
std,8.099383,22.150636,6.877817,0.254290,0.116875,0.715344,28.258248,2.099057,8.731259,168.672623,2.129243,96.069235,7.235740,9.385531
min,0.006320,0.000000,0.740000,0.000000,0.389000,3.561000,2.900000,1.129600,1.000000,187.000000,13.000000,0.320000,1.730000,5.000000
25%,0.086963,0.000000,5.190000,0.000000,0.453000,5.877250,44.850000,2.035975,4.000000,284.000000,17.400000,374.617500,6.847500,16.600000
50%,0.286735,0.000000,9.900000,0.000000,0.538000,6.210000,78.200000,3.122200,5.000000,337.000000,19.000000,390.955000,11.570000,21.150000
75%,3.731923,12.500000,18.100000,0.000000,0.631000,6.630250,94.100000,5.100400,24.000000,666.000000,20.200000,395.630000,17.102500,25.000000
max,73.534100,100.000000,27.740000,1.000000,0.871000,8.780000,100.000000,12.126500,24.000000,711.000000,22.000000,396.900000,36.980000,50.000000

# looking for correlations

here you know the importance of each data with price value, more positive is better and on negative side more negative is better.

near 1 is high positive correlation (direclty proportional)(RM is more positive)

far -1 is low negative correlation(here LSTAT is more negative)

Hence RM and LSTAT feature more important in MEDV prediction

In [16]:
corr_matrix = housing.corr()

In [17]:
corr_matrix['MEDV'].sort_values(ascending = False) #compare value with room value

MEDV       1.000000
RM         0.678807
B          0.361761
ZN         0.339741
DIS        0.240451
CHAS       0.205066
AGE       -0.364596
RAD       -0.374693
CRIM      -0.393715
NOX       -0.422873
TAX       -0.456657
INDUS     -0.473516
PTRATIO   -0.493534
LSTAT     -0.740494
Name: MEDV, dtype: float64

Let's visulise correlation

In [18]:
# from pandas.plotting import scatter_matrix
# attributes = ['MEDV', 'RM', 'B', 'LSTAT', 'PTRATIO']
# scatter_matrix(housing[attributes], figsize = (12,8))
# #on MEDV-MEDV we get histogram where as on other boxes we get correlation

Print individual correlation and analyse data --- check for threshold data and ask to company about that(here in example when our room count increases value remain 50), also remove side ways data point (out liers) to get accurate model(other than point in group)

In [19]:
# housing.plot(kind = 'scatter', x='RM', y= "MEDV", alpha=0.8)

# split label and feature

In [20]:
housing = strat_train_set.drop("MEDV", axis=1)   #seperate data
housing_labels = strat_train_set["MEDV"].copy()  #seperate label
housing.describe()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
count,404.000000,404.000000,404.000000,404.000000,404.000000,400.000000,404.000000,404.000000,404.000000,404.000000,404.000000,404.000000,404.000000
mean,3.602814,10.836634,11.344950,0.069307,0.558064,6.279105,69.039851,3.746210,9.735149,412.341584,18.473267,353.392822,12.791609
std,8.099383,22.150636,6.877817,0.254290,0.116875,0.715344,28.258248,2.099057,8.731259,168.672623,2.129243,96.069235,7.235740
min,0.006320,0.000000,0.740000,0.000000,0.389000,3.561000,2.900000,1.129600,1.000000,187.000000,13.000000,0.320000,1.730000
25%,0.086963,0.000000,5.190000,0.000000,0.453000,5.877250,44.850000,2.035975,4.000000,284.000000,17.400000,374.617500,6.847500
50%,0.286735,0.000000,9.900000,0.000000,0.538000,6.210000,78.200000,3.122200,5.000000,337.000000,19.000000,390.955000,11.570000
75%,3.731923,12.500000,18.100000,0.000000,0.631000,6.630250,94.100000,5.100400,24.000000,666.000000,20.200000,395.630000,17.102500
max,73.534100,100.000000,27.740000,1.000000,0.871000,8.780000,100.000000,12.126500,24.000000,711.000000,22.000000,396.900000,36.980000

# Attribute Combination

create new data column so we can take more data to get better result

some relation and data frame help us develop model more intensively; here is our art of being a data scientist, if we lose this power then computer will replace us.

In [21]:
# housing['TAXRM'] = housing['TAX']/housing['RM']
# housing.head()

# corr_matrix=housing.corr()
# corr_matrix['MEDV'].sort_values(ascending=False) #get correlation with a price of house
# housing.plot(kind = 'scatter', x='TAXRM', y='MEDV', alpha=0.8)#draw the pattern

let's remove TAXRM for even though it give better result stick with plan

In [22]:
# housing.drop(['TAXRM'],axis=1)

# missing attributes

In [23]:
# housing.describe() #check the count

**to deal with missing attribute(feature), we can perform three task**
1. get rid of missing data point (row) ---- when we have more data and less missing attribute
2. get rid of the whole attribute (column) --- not shown better correlation with value of house
3. set the new value for missing data point (mean, median , or 0)  ----- best way to approach

In [24]:
a = housing.dropna(subset =["RM"])  #copy of housing get modify but original remain intact to modify original we have to write .inplace=True.
a.shape   #method 1 remove data point

(400, 13)

In [25]:
housing.drop("RM", axis=1).shape #method 2 dropping particular column

(404, 12)

In [26]:
median = housing["RM"].median()#method 3 
housing["RM"].fillna(median)# fill data where data is not present

254    6.108
348    6.635
476    6.484
321    6.376
326    6.312
       ...
155    6.152
423    6.103
98     7.820
455    6.525
216    5.888
Name: RM, Length: 404, dtype: float64

here is catch who knows that might be in test dataset we have miss RM value or in future if we get data there also data might be missed so here we have to use same median as present earlier

**imputer help you automatically fill missing values in train, test and new data set**

In [27]:
housing.describe()# before we started inserting missing attribute

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
count,404.000000,404.000000,404.000000,404.000000,404.000000,400.000000,404.000000,404.000000,404.000000,404.000000,404.000000,404.000000,404.000000
mean,3.602814,10.836634,11.344950,0.069307,0.558064,6.279105,69.039851,3.746210,9.735149,412.341584,18.473267,353.392822,12.791609
std,8.099383,22.150636,6.877817,0.254290,0.116875,0.715344,28.258248,2.099057,8.731259,168.672623,2.129243,96.069235,7.235740
min,0.006320,0.000000,0.740000,0.000000,0.389000,3.561000,2.900000,1.129600,1.000000,187.000000,13.000000,0.320000,1.730000
25%,0.086963,0.000000,5.190000,0.000000,0.453000,5.877250,44.850000,2.035975,4.000000,284.000000,17.400000,374.617500,6.847500
50%,0.286735,0.000000,9.900000,0.000000,0.538000,6.210000,78.200000,3.122200,5.000000,337.000000,19.000000,390.955000,11.570000
75%,3.731923,12.500000,18.100000,0.000000,0.631000,6.630250,94.100000,5.100400,24.000000,666.000000,20.200000,395.630000,17.102500
max,73.534100,100.000000,27.740000,1.000000,0.871000,8.780000,100.000000,12.126500,24.000000,711.000000,22.000000,396.900000,36.980000

In [28]:
from sklearn.impute import SimpleImputer
imputer = SimpleImputer(strategy="median")
imputer.fit(housing)  #fit data into dataset and check missing attirbute
imputer.statistics_   #we get median for all column

array([2.86735e-01, 0.00000e+00, 9.90000e+00, 0.00000e+00, 5.38000e-01,
       6.21000e+00, 7.82000e+01, 3.12220e+00, 5.00000e+00, 3.37000e+02,
       1.90000e+01, 3.90955e+02, 1.15700e+01])

In [29]:
X = imputer.transform(housing)   #transform with new data
housing_tr = pd.DataFrame(X, columns=housing.columns)

In [30]:
housing_tr.describe()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
count,404.000000,404.000000,404.000000,404.000000,404.000000,404.000000,404.000000,404.000000,404.000000,404.000000,404.000000,404.000000,404.000000
mean,3.602814,10.836634,11.344950,0.069307,0.558064,6.278421,69.039851,3.746210,9.735149,412.341584,18.473267,353.392822,12.791609
std,8.099383,22.150636,6.877817,0.254290,0.116875,0.711818,28.258248,2.099057,8.731259,168.672623,2.129243,96.069235,7.235740
min,0.006320,0.000000,0.740000,0.000000,0.389000,3.561000,2.900000,1.129600,1.000000,187.000000,13.000000,0.320000,1.730000
25%,0.086963,0.000000,5.190000,0.000000,0.453000,5.878750,44.850000,2.035975,4.000000,284.000000,17.400000,374.617500,6.847500
50%,0.286735,0.000000,9.900000,0.000000,0.538000,6.210000,78.200000,3.122200,5.000000,337.000000,19.000000,390.955000,11.570000
75%,3.731923,12.500000,18.100000,0.000000,0.631000,6.630000,94.100000,5.100400,24.000000,666.000000,20.200000,395.630000,17.102500
max,73.534100,100.000000,27.740000,1.000000,0.871000,8.780000,100.000000,12.126500,24.000000,711.000000,22.000000,396.900000,36.980000

# until now we use pandas so get representation of data for our analysis now onward make process fast by using numpy and pipline (actual data processing)

# SCI-kit learn design

primary three type of objects:
1. estimator - help you estimate the value based on data available eg.Imputer. ---- It has a fit method and transform method.
fit help you in fitting data point and transform help you in conversion.------value calculator

2. Transformers - transform method takes input and return output based on the learning from fit().It also has a convenience function called fit_transform() which fits and then transform ---- value insert in a dataset.

3. Predictors -LinearRegression model is an example of predictor. fit()[model take test input] and predict()[model take train and new input and predict output] are two common functions.It also gives score() function which will evaluate the performance of model.

**machine training and decision making begin**

create pipeline (flow) so in future it become easy to modify strategy and dataset easily

# feature scaling 
to make dataset in a common range (0-1) for all data range so it will be easy for machine to compare and take decision
1. Min-Max scaling method (Normalization)
    (value-min)/(max-min)
    sklearn provide a class called MinMaxScaler for this
2. standardization
    (value-mean)/std
    sklearn provide a class called StandardScaler for this
    it better than MinMax scaling because here accidental change in value doesn't impact more on data

# create Pipeline

pipeline should be start from begining, after cleaning dataset post processing done in pipline so it give you better presentation

In [31]:
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import StandardScaler
my_pipeline = Pipeline([
    ('imputer', SimpleImputer(strategy= 'median')),
    ('std_scaler', StandardScaler()),
    #......add all process method you want to execute on data in pipeline
    #pipe operation fit(ip) - task1 - transform(op)-fit(ip) - task2 - transform(op) - fit(ip) - task3 - transform(op)...fit(in)-last task- 
    #last task provide data in non transform form hence we have to apply pipline function to make transform
    
    
])

In [32]:
housing_num_tr = my_pipeline.fit_transform(housing)   #missing data enter(imputer) and fit into dataset also apply standard scaler
housing_num_tr.shape   #data present in numpy array ....future processing done in numpy methods not in pandas data frame
#panda data form only for visual apperance once we have data set ready make pipline and process in single pipeline

(404, 13)

**Selecting model**

In [33]:
# import models 

# from sklearn.linear_model import LinearRegression
# from sklearn.tree import DecisionTreeRegressor   #taken new model to perform operation -- overfitting model
from sklearn.ensemble import RandomForestRegressor

# model = LinearRegression()  #set model name
# model = DecisionTreeRegressor()
model = RandomForestRegressor()

model.fit(housing_num_tr, housing_labels)  #fit data and label in model [Training]
housing_num_tr[0]

array([-0.43942006,  3.12628155, -1.12165014, -0.27288841, -1.42262747,
       -0.23971309, -1.31238772,  2.61111401, -1.0016859 , -0.5778192 ,
       -0.97491834,  0.41164221, -0.86091034])

# Now let's perform operation on data and check model perfomance

In [34]:
some_data = housing.iloc[:5]                #get first five data from , here we take data from pandas data frame
some_label = housing_labels.iloc[:5]         #get first label to compare
prepared_data = my_pipeline.transform(some_data)#let's move data through pipeline
model.predict(prepared_data)                       #get output from model

array([22.254, 25.187, 16.534, 23.167, 23.491])

In [35]:
# print(some_data)

In [36]:
some_label #check real time label in visual form

254    21.9
348    24.5
476    16.7
321    23.1
326    23.0
Name: MEDV, dtype: float64

**check error**

In [37]:
#mean square error help you find how far the actual output to predicted output 
#take difference between predicted and actual output and then square them tho remove negative number and then take average(sum/total count)
#lower the RMSE better the model performance 


from sklearn.metrics import mean_squared_error
housing_predictions = model.predict(housing_num_tr)# here we perform operation on numpy matrix
mse = mean_squared_error(housing_predictions, housing_labels) #compare label and model prediction 
rmse = np.sqrt(mse)   #taking root of mean square error
rmse

1.1905389307135454

# Using better Evaluation technique - cross validation

split data into 10 set and perform operation -----1 2 3 4 5 6 7 8 ----we consider 1 as testing set and build model on remaining data set then test on 1 data set---------then in next step consider 2 as testing data set and build model on remaining data set then test on 2 dataset--------then in next step consider 3 as testing data set and build model on remaining data set then test on 3 dataset

In [38]:
from sklearn.model_selection import cross_val_score
scores = cross_val_score(model, housing_num_tr, housing_labels, scoring='neg_mean_squared_error', cv=10) #consider as it is
rmse_scores =np.sqrt(-scores)
rmse_scores    #compare this each price difference with actual label and think is that model perform best

array([2.93164112, 2.66715362, 4.38626069, 2.65442445, 3.45318601,
       2.74708194, 4.78532988, 3.26638488, 3.07438718, 3.44688035])

In [39]:
def print_scores(scores):
    print("scores:", scores)
    print("Mean: ",scores.mean())
    print("std: ",scores.std())

print_scores(rmse_scores)

scores: [2.93164112 2.66715362 4.38626069 2.65442445 3.45318601 2.74708194
 4.78532988 3.26638488 3.07438718 3.44688035]
Mean:  3.341273012221677
std:  0.687377072775289

# saving the model

In [40]:
from joblib import dump, load
dump(model, 'real-estate.joblib')

['real-estate.joblib']

# testing model on test data

In [41]:
# bring test data set
x_test = strat_test_set.drop("MEDV", axis=1)
y_test = strat_test_set["MEDV"].copy()

#put data in pipeline for processing
x_test_preared = my_pipeline.transform(x_test)

#put data in model
final_predictions = model.predict(x_test_preared)

#get MSE score
final_mse = mean_squared_error(y_test, final_predictions)
final_rmse = np.sqrt(final_mse)
final_rmse   #get rmse value

2.945453718502996

In [42]:
print(final_predictions, list(y_test)) #compare data on real time

[24.475 12.025 25.221 21.549 18.35  15.025 19.715 14.52  32.701 41.482
 19.633 11.726 24.735 28.471 19.594 11.173 31.079 14.282 23.292 18.125
 20.115 18.144 18.142 22.416 18.218 31.919 15.811 32.907  8.642 34.266
 24.354 21.296 22.812 11.356 20.924 11.076 43.535 24.468 23.711 41.287
 24.278 29.095 20.697 20.846 19.566 33.987 44.353 20.145 20.124 21.537
 21.271 15.024 21.314 14.703 24.999 33.391 43.303 29.707 19.198 20.678
 47.071  9.954 19.056 25.72  14.695 32.848 19.843 17.99  19.435 35.172
 25.866 22.723 21.736 22.664 35.467 12.603 15.46  20.021 21.003 21.42
 22.901 21.491 14.006 22.631 20.782 21.244 13.329 21.189 22.022 23.483
 18.604 27.56   7.313 26.472 19.138 29.714 19.818 31.418 14.475 27.013
 21.381 20.699] [16.5, 10.2, 30.1, 23.0, 14.4, 15.6, 19.4, 14.1, 30.3, 35.2, 23.1, 13.8, 25.0, 27.9, 19.5, 12.3, 32.2, 13.5, 23.8, 21.7, 19.2, 19.5, 10.4, 23.2, 18.6, 28.5, 15.2, 32.0, 7.2, 34.6, 20.1, 20.6, 23.6, 13.1, 23.8, 12.7, 43.1, 24.7, 22.2, 44.0, 28.1, 31.0, 21.7, 23.4, 19.5, 33.1, 41.7, 18.7, 19.9, 20.6, 21.2, 13.6, 20.3, 17.8, 27.1, 31.5, 50.0, 29.1, 18.9, 20.4, 50.0, 7.2, 17.2, 36.2, 14.6, 33.2, 23.8, 19.9, 21.5, 37.3, 27.0, 22.0, 24.3, 19.8, 33.3, 7.0, 19.4, 20.9, 21.1, 20.4, 22.2, 11.9, 11.7, 21.6, 19.7, 23.0, 16.7, 21.7, 20.6, 23.3, 19.6, 28.0, 5.0, 24.4, 20.8, 24.8, 21.8, 23.6, 19.0, 25.0, 20.3, 21.5]